[commit]
    message = n
[remote "origin"]
    url = git@github.com:huangyingw/yoga.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[branch "master"]
    remote = origin
    merge = refs/heads/master
[gsync]
    remote = origin
    target = 41c667003685cf32c270fd9a8f3702b772e79599
